.competition {
  background: #ffffff;
  position: relative;
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.background-top {
  &::after {
    display: none;
  }
}

.competition__about-me {
  background: #ffffff;
  margin: 0 auto;
}

.competition__about-me > p {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  padding: 50px 20px 0 20px;
}

.competition__information,
.competition__attainment,
.competition__tel-email,
.competition__app,
.competition__emotions {
  border: none;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 280px;
  display: flex;
  flex-direction: column;
}

.form label {
  display: block;
}

.form input {
  display: block;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  padding: 10px 20px;
  order: 6;
}

.form__info {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
  padding: 20px 0 10px 20px;
}

.form legend {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #d22856;
  text-align: center;
  padding: 30px 40px;
}

.competition__background {
  background: #f2f2f2;
}

.competition__attainment label {
  margin: 35px 0 35px 0;
  padding-left: 70px;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-right: 30px;

  &::before {
    content: " ";
    width: 35px;
    height: 35px;
    border: 1px solid #e5e5e5;
    background: #ffffff;
    position: absolute;
    left: 20px;
    top: 0;
  }
}

.competition__attainment,
.competition__app {
  background: #f2f2f2;
  width: 320px;
  margin: 0;
}

.competition__attainment input,
.competition__app input {
  visibility: hidden;
}

.form fieldset input[type="checkbox"]:checked + label::before {
  width: 35px;
  height: 35px;
  background: #ffffff url("../img/icon-yes.svg") no-repeat center;
  fill: #d22856;
  position: absolute;
  top: 0;
  left: 20px;
}


.competition__app label {
  margin: 35px 0 55px 0;
  padding-left: 70px;
  position: relative;
  cursor: pointer;
  user-select: none;

  &::before {
    content: "";
    width: 35px;
    height: 35px;
    border: 1px solid #e5e5e5;
    background: #ffffff;
    position: absolute;
    left: 20px;
    top: -5px;
    border-radius: 50%;
  }
}

.form fieldset input[type="radio"]:checked + label::before {
  width: 35px;
  height: 35px;
  background: #ffffff url("../img/icon-map-marker.svg") no-repeat center;
  fill: #d22856;
  position: absolute;
  top: -5px;
  left: 20px;
}

.competition textarea {
  width: 240px;
  border: 1px solid #e5e5e5;
  padding: 20px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  margin-bottom: 48px;
}

.competition input[type="submit"] {
  display: block;
  margin: 0 20px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  border: none;
  width: 280px;
  text-align: center;
  background: #2aab6d;
  border-radius: 4%;
  cursor: pointer;
}

.competition__hint {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}

.competition__hint span {
  color: #d8456d;
}

.competition__write {
  display: none;
}

@media (min-width: 660px) {
  .competition {
    width: 660px;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .competition__about-me > p {
    padding: 50px 85px 0 85px;
    font-size: 18px;
  }

  .competition__write {
    display: block;
  }

  .competition__information {
    width: 660px;
    margin-bottom: 0;
    padding-top: 70px;
    order: 1;
  }

  .competition__input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 20px;
    margin-bottom: 50px;
  }

  .form__info {
    margin-right: 20px;
  }

  .competition__input input {
    width: 100%;
  }

  .competition__attainment,
  .competition__app,
  .competition__tel-email,
  .competition__emotions {
    width: 620px;
    background: #ffffff;
    border: 2px solid #e5e5e5;
    margin: 0 20px;
  }

  .competition__emotions textarea {
    margin: 0 60px 48px 60px;
    width: 500px;
    box-sizing: border-box;
    height: 190px;
  }

  .competition__attainment,
  .competition__app {
    padding-left: 60px;
    width: 560px;
  }

  .competition__background {
    background: #ffffff;
    visibility: visible;
    width: auto;
    height: auto;
  }

  .competition__tel,
  .competition__email {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 60px;
    position: relative;

    &::after {
      content: "";
      width: 60px;
      height: 55px;
      position: absolute;
      top: -1px;
      right: 0;
      background: #f2f2f2;
    }
  }

  .competition__app {
    order: 2;
  }

  .competition__tel-email {
    order: 3;
  }

  .competition__attainment {
    order: 4;
  }

  .competition__emotions {
    order: 5;
  }

  .competition__send-form {
    order: 6;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .competition__hint {
    padding: 0;
    margin: 0 20px;
  }
}

@media (min-width: 960px) {
  .competition {
    width: 960px;
  }

  .competition__write {
    display: inline-block;
  }

  .form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .competition__information {
    width: 440px;
  }

  .competition__app {
    width: 400px;
  }

  .competition__app label {
    margin: 55px 0;
  }

  .competition__attainment input,
  .competition__app input {
    width: 0;
    height: 0;
  }

  .competition__tel-email {
    width: 920px;
  }

  .competition__tel,
  .competition__email {
    width: 375px;
    margin-right: 0;
  }

  .competition__tel-email--wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .competition__attainment {
    width: 100%;
  }

  .competition__tel-email--wrapper > label {
    width: 200px;
    padding-right: 0;
  }

  .competition__emotions {
    width: 100%;
  }

  .competition__emotions textarea {
    width: 820px;
  }

  .competition__send-form {
    width: 960px;
  }
}
