.footer {
  max-width: 320px;
  width: 320px;
  outline:1px solid red;
}

.footer__logo,
.footer__social-btn,
.footer__html-acadymy {
  max-width: 280px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.footer__logo {
  padding-top:35px;
}

.footer__logo a {
  display:block;
  width: 160px;
  height: 50px;
  background: url("../img/logo-pink-blue-mobile.svg") no-repeat center;
  margin: 0 auto;
}

.footer__social-btn {
  margin-top: 35px;
  margin-bottom: 40px;
}

.footer__social-btn a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border:1px solid #e9ebec;
  display: inline-block;
  margin-right: 10px;
}

.footer__social-btn a:last-child {
  margin-right:0;
}

.footer__twitter {
  background: url("../img/icon-twitter.svg") no-repeat center;
}

.footer__facebook {
  background: url("../img/icon-facebook.svg") no-repeat center;
}

.footer__youtube {
  background: url("../img/icon-youtube.svg") no-repeat center;
}

.footer__html-acadymy p {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
  position: relative;
  text-align: left;
  padding-left: 70px;
  padding-bottom: 50px;
}

.footer__html-acadymy a {
  display: inline-block;
  width: 70px;
  height: 40px;
  background: url("../img/logo-htmlacademy.svg") no-repeat center;
  position: absolute;
  right: 60px;
  top: -10px;
}
