.information {
  background: #ffffff;
  outline: 1px solid red;
  max-width: 320px;
}

.information__new {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #283645;
}

.information__about {
  background: #f2f2f2;
}

.information__list {
  list-style: none;
  font-size: 0;
}

.information__caption {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}

.information__explanation {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: center;
}
