/*Основные классы*/

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}


/*main-header*/

.main-header {
  color: white;
  outline: 1px solid #000000;
  width: 320px;
  margin: 0 auto;
  max-height: 462px;
  margin-bottom: -66px;
  z-index: 10;
  position: relative;
}

.logo {
  width: 320px;
  height: 70px;
  background: #1d2631;
  opacity: 0.8;
}

/*menu*/

.menu__list {
  font-size: 0;
  padding: 0;
}

.menu__item {
  background: #283645;
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 320px;
  text-align: center;
  border-bottom: 1px solid #485461;
  box-shadow: 1px 0 0 #000000;
  padding: 15px 0;
}

.menu__drop-down {
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;
}

.menu__button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 25px;
  background: inherit;
  border: none;
  cursor: pointer;
}

.menu__button button {
  position: relative;
  width: 50px;
  height: 25px;
  background: inherit;
  border: none;
  cursor: pointer;

  &::after {
    content: "";
    width: 50px;
    height: 4px;
    position: absolute;
    top: 0;
    right: 0;
    background: #ffffff;
    box-shadow: 0 10px 0 #ffffff;
  }

  &::before {
    content: "";
    width: 50px;
    height: 4px;
    position: absolute;
    top: 0;
    right: 0;
    background: #ffffff;
    box-shadow: 0 20px 0 #ffffff;
  }
}

/*main-header__intro*/

.main-header__intro {
  min-height: 273px;
}

.main-header__intro--download {
  display: block;
  background: #1d2631;
  color: #ffffff;
  border: 3px solid #ffffff;
  padding: 16px 37px;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  border-radius: 25px;
  margin: 0 auto;
  text-decoration: none;
}

.main-header__intro a {
  display: inline-block;
}

.main-header__intro--apple {
  background: url("../img/logo-apple.svg") no-repeat center;
  width: 55px;
  height: 65px;
}

.main-header__intro--android {
  background: url("../img/logo-android.svg") no-repeat center;
  width: 50px;
  height: 55px;
}

.main-header__intro--windows {
  background: url("../img/logo-microsoft.svg") no-repeat center;
  width: 50px;
  height: 50px;
}

.main-header__intro p {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  opacity: 0.7;
}

.main-header__caption {
  z-index: 1;
  position: relative;
  min-height: 237px;
}

.main-header__caption h2 {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 96px 45px 86px 45px;
  font-weight: lighter;
}

@media (min-width: 660px ) {
  .main-header {
    width: 660px;
    margin-bottom: -86px;
  }

  .logo{
    min-height: 110px;
    width: auto;
  }

  .menu__item {
    width: auto;
  }

  .logo img {
    margin-left: 20px;
  }

  .menu__button {
    top: 40px;
  }
}

@media (min-width: 960px ) {
  .main-header {
    width: 960px;
    display: flex;
    background: #1d2631;
    opacity: 0.8;
    margin-bottom: -108px;
  }

  .logo {
    width: 150px;
    min-height: 110px;
  }

  .menu__list {
    display: flex;
    min-height: 110px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 810px;
  }

  .menu__item {
    display: flex;
    align-items: center;
    background: transparent;
    box-shadow: none;
    border: none;
  }

  .menu__item a {
    margin-right: 80px;
    display: block;
    text-transform: capitalize;
    font-weight: lighter;
  }


  .menu__button {
    display: none;
  }
}
