/*Основные классы*/

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}


/*main-header*/

.main-header {
  color: white;
  width: 320px;
  margin: 0 auto;
  max-height: 462px;
  margin-bottom: -66px;
  z-index: 10;
  position: relative;
}

.logo {
  width: 320px;
  height: 70px;
  background: #283645;
}

/*menu*/

.menu__list {
  font-size: 0;
  padding: 0;
}

.menu__item {
  background: #283645;
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 320px;
  text-align: center;
  border-bottom: 1px solid #485461;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 1);
  padding: 16px 0;
}

.menu__drop-down {
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 31px;
}

.menu__button {
  position: absolute;
  top: 20px;
  right: -5px;
  width: 50px;
  height: 25px;
  background: inherit;
  border: none;
  cursor: pointer;
}

.menu__button button {
  position: relative;
  width: 50px;
  height: 25px;
  background: inherit;
  border: none;
  cursor: pointer;
}

.menu__button--opened button::before,
.menu__button--opened button::after {
  content: "";
  width: 30px;
  height: 5px;
  position: absolute;
  top: 10px;
  right: 0;
  background: #ffffff;
}

.menu__button--opened button {
  height: 30px;
  width: 30px;
}

.menu__button--opened button::before {
  transform: rotate(-45deg);
}

.menu__button--opened button::after {
  transform: rotate(45deg);
}

.menu__button--closed button::before {
  content: "";
  width: 50px;
  height: 4px;
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
  box-shadow: 0 20px 0 #ffffff;
}

.menu__button--closed button::after {
  content: "";
  width: 50px;
  height: 4px;
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
  box-shadow: 0 10px 0 #ffffff;
}

/*main-header__intro*/

.main-header__intro {
  min-height: 269px;
}

.main-header__intro--download {
  display: block;
  background: #1d2631;
  color: #ffffff;
  border: 3px solid #ffffff;
  padding: 16px 37px;
  text-align: center;
  font-size: 18px;
  line-height: 17px;
  font-weight: bold;
  border-radius: 28px;
  margin: 0 auto;
  text-decoration: none;
  margin-top: 26px;
  margin-bottom: 36px;
}

.main-header__intro a {
  display: inline-block;
}

.main-header__intro--apple {
  background: url("../img/logo-apple.svg") no-repeat center;
  width: 55px;
  height: 65px;
  margin-left: 38px;
  margin-top: -6px;
}

.main-header__intro--android {
  background: url("../img/logo-android.svg") no-repeat center;
  width: 50px;
  height: 55px;
}

.main-header__intro--windows {
  background: url("../img/logo-microsoft.svg") no-repeat center;
  width: 50px;
  height: 50px;
  margin-right: 42px;
}

.main-header__intro p {
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  opacity: 0.7;
  padding: 0 20px;
  margin: 16px 0;
}

.main-header__logo {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  font-weight: lighter;
}

.main-header__logo--photo,
.main-header__logo--form {
  padding: 95px 45px 83px 45px;
}

@media (min-width: 660px) {
  .main-header {
    width: 660px;
    margin-bottom: -86px;
  }

  .logo {
    min-height: 110px;
    width: auto;
  }

  .menu__item {
    width: auto;
  }

  .logo img {
    margin-left: 20px;
  }

  .menu__button {
    top: 40px;
  }
  .menu__button--opened button::before,
  .menu__button--opened button::after {
    top: 13px;
  }

  .main-header__intro--apple {
    margin-left: 23px;
  }

  .main-header__intro--windows {
    margin-right: 38px;
  }
}

@media (min-width: 960px) {
  .main-header {
    width: 960px;
    display: flex;
    background: #1d2631;
    opacity: 0.8;
    margin-bottom: -108px;
  }

  .logo {
    width: 150px;
    min-height: 110px;
  }

  .menu__list {
    display: flex;
    min-height: 110px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 810px;
  }

  .menu__item {
    display: flex;
    align-items: center;
    background: transparent;
    box-shadow: none;
    border: none;
  }

  .menu__item a {
    margin-right: 80px;
    display: block;
    text-transform: capitalize;
    font-weight: lighter;
  }


  .menu__button {
    display: none;
  }
}
