.map {
  width: 320px;
  margin: 0 auto;
  min-height: 200px;
  position: relative;
  margin-top: -34px;
  z-index: 1;
}

.map iframe {
  width: 320px;
  min-height: 200px;
}

@media (min-width: 660px) {
  .map {
    width: 610px;
    margin-top: -68px;
    min-height: 375px;
  }

  .map iframe {
    width: 660px;
    min-height: 375px;
  }
}

@media (min-width: 960px) {
  .map {
    width: 960px;
  }

  .map iframe {
    width: 960px;
  }
}
