.map {
  width: 320px;
  margin: 0 auto;
}

.map iframe {
  width: 320px;
}

@media (min-width: 660px) {
  .map {
    width: 660px;
  }

  .map iframe {
    width: 660px;
  }
}

@media (min-width: 960px) {
  .map {
    width: 960px;
  }

  .map iframe {
    width: 960px;
  }
}
