.reviews {
  background: #ffffff;
  outline: 1px solid gold;
  width: 320px;
  margin: 0 auto;
}

.reviews__slider {
  list-style: none;
  font-size: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.reviews__name {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

.reviews_review {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.slider__control {
  width: 80px;
  height: 20px;
  outline: 1px solid black;
}

.slider__control {
  display: flex;
  justify-content: center;
  margin: auto;
}

@media (min-width: 660px) {

  .reviews {
    width: 660px;
    margin: 0 auto;
  }

  .reviews__slide {
    display: flex;
    flex-direction: column-reverse;
  }

  .reviews__about {
    font-size: 14px;
    text-align: center;
  }
}

@media (min-width: 960px ) {

  .reviews {
    width: 960px;
  }

  .reviews__slide {
    padding: 0 180px;
  }
}
